API_URL="https://api-v3.mbta.com"

POLL_INTERVAL_SECONDS=30

SNAPSHOT_PATH=data/snapshots.parquet
VEHICLE_POSITIONS_PATH=data/vehicle_positions.parquet

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
